body {
	background: rgba(228, 228, 228, .4);
}
.navbar {
	z-index: 1;
	background: #fff;
	box-shadow: 2px 2px 3px rgba(128, 128, 128, .3);
}
.navbar .list-items {
	overflow: auto;
}
.navbar .list-items .list-item {
	float: left;
}
.navbar .list-items .list-item a {
	display: block;
	padding: 12px 15px;
}
.navbar .list-items .list-item a:hover {
	color: #4392f1;
	cursor: pointer;
	background: #eee;
}
.navbar .toggle-sidebar:focus {
	box-shadow: none;
}
.main-content {
	transition: padding-left .5s ease;
	padding: 65px 245px 15px 15px;
}
.main-content .content {
	padding: 15px;
	background: #fff;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, .3);
}
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 230px;
	z-index: 0;
	background: #fff;
	height: 100%;
	padding-top: 59px;
	transition: left .5s ease;
	box-shadow: 2px 2px 3px rgba(128, 128, 128, .3);
}
.sidebar .list-items .list-item a {
	display: block;
	padding: 10px 15px;
}
.sidebar .list-items .list-item a:hover {
	color: #4392f1;
	background: #eee;
}
body.closed-sidebar .sidebar {
	right: -100%;
}
body.closed-sidebar .main-content {
	padding-right: 15px;
}
.statistics .statistics-item {
	padding: 7.5px;
	padding-top: 30px;
	position: relative;
}
.statistics .statistics-item .icon-container {
	width: 60px;
	height: 60px;
	border-radius: 4px;
	top: 10px;
	left: 20px;
	color: #fff;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: #777;
}
.statistics .statistics-item:nth-child(1) .icon-container {
	background: #4392f1;
}
.statistics .statistics-item:nth-child(2) .icon-container {
	background: #61cbb7;
}
.statistics .statistics-item:nth-child(3) .icon-container {
	background: #f7bc00;
}
.statistics .statistics-item:nth-child(4) .icon-container {
	background: #ff5e42;
}
.statistics .statistics-item:nth-child(5) .icon-container {
	background: #5c2751;
}
.statistics .statistics-item .item-details {
	background: #fff;
	padding: 15px;
	text-align: right;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, .3);
}
.statistics .statistics-item .item-details .border {
	height: 1px;
	margin: 15px 0;
	background: #ccc;
}
.statistics .statistics-item .item-details .item-footer {
	text-align: left;
	font-size: 14px;
}
.chart-items .chart-item .chart-content {
	background: #fff;
	box-shadow: 1px 1px 3px rgba(128, 128, 128, .3);
}
.card-container {
	background: #fff;
	padding: 15px;
	box-shadow: 2px 2px 3px rgba(128, 128, 128, .2);
}
.form-group.has-error input {
	border-color: var(--danger);
}
.form-group.has-error label,
.form-group.has-error .help-text {
	color: var(--danger);
}
